/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #bababa #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #444444;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 10px;
    border: 3px solid #444444;
  }

.main-space-container{
  max-width: 80vw;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.main-space-form-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main-space-inputs-container{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.main-space-inputs-container input{
  color: #c0c0c0;
  background-color: #444444;
  border-style: none;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 7px 7px #2b2b2b;
  height: 32px;
}

button{
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: #7b1fa2;
  margin-top: 1rem;
  margin-left: 5%;
  width: 15%;
  border-radius: 8px;
  border-style: none;
  box-shadow: 1px 1px 7px 7px #2b2b2b;
  transition: 0.3s;
}

button:hover{
  color: #7b1fa2;
  background-color: #444444;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 1px 1px 7px 7px #7b1fa2;
}

.posts-container{
  display: flex;
  flex-direction: column-reverse;
  height: 60Vh;
  overflow-y: scroll;  /* for Internet Explorer, Edge */
  scrollbar-width: none; 
  margin-top: 1rem;
  background-color: #69f0ae;
  box-shadow: 1px 1px 7px 7px #2b2b2b;
  border: 1px solid #2b2b2b;
  border-radius: 8px;
}
.single_post_card_container{
  border: 1px solid #2b2b2b;
  margin: .5rem;
  border-radius: 8px;
  border-style: none;
  box-shadow: 1px 1px 14px -3px #303030;
  display: flex;
  align-items: center;
  background-color: #444444;
}

.single_post_card_container a {
  text-decoration: none;
  color: #c0c0c0;
  background-color: #7b1fa2;
  padding: 12px;
  margin: 8px;
  font-size: 24px;
  border-radius: 0 8px 8px 0;
}

.single_post_card_container a:hover{
  color: white;
  box-shadow: 3px 3px 10px -3px #2b2b2b;
  cursor: pointer;
}

.single-post-content{
  width: 80%;
}

p{
  margin: 8px;
}

.post-title{
  font-size: 1.5rem;
}

.post-author{
  color: #c0c0c0;
}