/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #bababa #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #595959;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 10px;
    border: 3px solid #595959;
  }

  .post-detail-container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 80vw;
    margin: auto;
  }

.singlePostContainer{
  color: #595959;
  padding: 1rem;
  background-color: #69f0ae;
  box-shadow: 1px 1px 7px 7px #2b2b2b;
  border: 1px solid #2b2b2b;
  border-radius: 8px;
} 

.go-back-button{
  color: white;
  background-color: #7b1fa2;
  padding: 16px;
  margin: 0.5rem;
  font-size: 1.2rem;
  width: 15%;
  border-radius: 8px;
  border-style: none;
  box-shadow: 1px 1px 7px 7px #2b2b2b;
  transition: 0.3s;
}

.go-back-button:hover{
  color: #7b1fa2;
  background-color: #303030;
  box-shadow: 1px 1px 7px 7px #7b1fa2;
}

.comments-container{
  height: 35vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  padding: 16px;
  background-color: #444444;
  border-radius: 8px;
}

.singleCommentContainer{
  background-color: #7b1fa2;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 4px;
}
.comment-content{
  color: white;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 4px;
}

.comment-author{
  color: #c0c0c0;
  margin-bottom: 0;
}

.comment-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  box-shadow: 1px 1rem 7px 7px #2b2b2b;
  border: 1px solid #2b2b2b;
  border-radius: 8px;
}

.comment-form button{
  color: #444444;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: #69f0ae;
  margin: 1rem;
  padding: 16px;
  width: 15%;
  border-radius: 8px;
  border-style: none;
  box-shadow: 1px 1px 7px 7px #2b2b2b;
  transition: 0.3s;
}

.comment-form button:hover{
  color: #69f0ae;
  background-color: #303030;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 1px 1px 7px 7px #69f0ae;
}

.inputs-container{
  display: flex;
  flex-direction: column;
  width: 80%;
}

input{
  color: #c0c0c0;
  background-color: #444444;
  border-style: none;
  border-radius: 8px;
  box-shadow: 1px 1px 7px 7px #2b2b2b;
  height: 32px;
}

textarea{
  color: #c0c0c0;
  background-color: #444444;
  border-style: none;
  border-radius: 8px;
  margin-top: 8px;
  box-shadow: 1px 1px 7px 7px #2b2b2b;
  height: 40px;
}